body {
    /*background-image: url('starwars.jpg');
    background-size: cover;*/
}

table {
    width: 100%;
    height: 600px;
    margin-bottom: auto;
    margin-top: auto;
}

#stats {
    color: red;
}

#play {
    color: white;
    text-align: center;
}

.corner_blank {
    width: 20%;
    height: 15%;
}

#button2 {
    background-color: cadetblue;
    color: darkred;
    padding: 10px 5px;
}

#button1 {
    background-color: cadetblue;
    color: darkred;
    padding: 10px 5px;
}

.side_blank {
    width: 20%;
    height: 70%;
}

#canvas-main {
    background: black;
    background-size: cover;
    height: 420px;
    width: 800px;
}

#maze {
    height: 70%;
    width: 60%;
    color: aqua;
    font-size: 23px;
    vertical-align: top;
}

#stats {
    height: 15%;
    width: 60%;
}

#foot{
    height: 15%;
    width: 60%;
}